body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.row {
	margin: 0px;
}

#title {
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 45px;
	text-align: center;
	background-color: tan;
	padding: 10px;
	padding-bottom: 50px;
	border: 4px solid #a1a1a1;
	border-radius: 10px;
	width: 80%;
}

button {
	margin-top: 100px;
	margin-bottom: 100px;
}

#start {
	margin-top: 100px;
	font-size: 50px;
	text-align: center;
}

.timeleft {
	font-family: 'Bungee Shade', cursive;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
} 

.content {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	margin-top: 20px;
}

#done {
	margin-top: 40px;
}